<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>회원가입</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
	<main>
		<div class="container">
			<div class="row">
				<div class="offset-4 col-md-4 bg-white border rounded-5 mt-5">
					<section class="p-4 d-flex justify-content-center">
						<form id="form-join" class="w-100">
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
							<div class="form-group mt-3 mb-3">
								<label for="input-username">아이디</label>
								<input type="text" id="input-username" name="username" class="form-control" placeholder="아이디를 입력해주세요.">
								<small class="form-text text-danger error-message" data-for="username"></small>
							</div>
							<div class="form-group mt-3 mb-3">
								<label for="input-password">비밀번호</label>
								<input type="password" id="input-password" name="password" class="form-control" placeholder="비밀번호를 입력해주세요.">
								<small class="form-text text-danger error-message" data-for="password"></small>
								<input type="password" id="input-password-confirm" name="confirmPassword" class="form-control mt-2" placeholder="비밀번호를 한번 더 입력해주세요.">
								<small class="form-text text-danger error-message" data-for="confirmPassword"></small>
							</div>
							<div class="form-group mt-3 mb-3">
								<label for="input-name">이름</label>
								<input type="text" id="input-name" name="name" class="form-control" placeholder="이름을 입력해주세요.">
								<small class="form-text text-danger error-message" data-for="name"></small>
							</div>
							<div class="form-group mt-3 mb-3">
								<label for="input-email">이메일</label>
								<input type="text" id="input-email" name="email" class="form-control" placeholder="이메일 주소를 입력해주세요.">
								<small class="form-text text-danger error-message" data-for="email"></small>
							</div>
							<div class="form-group mt-3 mb-3">
								<label for="select-mobile-carrier">연락처</label>
								<div class="input-group">
									<select id="select-mobile-carrier" name="mobileCarrier" class="form-select">
										<option value="skt" selected>SKT</option>
										<option value="kt">KT</option>
										<option value="lgu+">LGU+</option>
										<option value="mvno_skt">알뜰폰SKT</option>
										<option value="mvno_kt">알뜰폰KT</option>
										<option value="mvno_lgu+">알뜰폰LGU+</option>
									</select>
									<input type="text" id="input-phone-number" name="phoneNumber" class="form-control" placeholder="휴대폰 번호">
								</div>
								<small class="form-text text-danger error-message" data-for="mobileCarrier"></small>
								<small class="form-text text-danger error-message" data-for="phoneNumber"></small>
							</div>
						    <button type="submit" class="btn btn-primary w-100 mt-2">회원가입</button>
						    <a href="/login" class="btn btn-warning w-100 mt-2">로그인</a>
						</form>
					</section>
				</div>
			</div>
		</div>
	</main>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script th:src="@{/js/pages/user/join.js}"></script>
</body>
</html>