<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layouts/main}">
     
    <head>
		<link th:href="@{/css/pages/user/main.css}" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script th:src="@{/js/pages/user/main.js}"></script>
    </head>

    <main layout:fragment="content">
        <div class="container">
        	<div class="row">
        		<div id="search-area" class="col-md-12">
	        		<div class="input-group">
						<select id="select-search-condition" class="form-select">
							<option selected>전체</option>
							<option value="1">저자</option>
							<option value="2">도서명</option>
							<option value="3">분류</option>
						</select>
						<input id="input-search-keyword" type="text" class="form-control" aria-label="Text input with dropdown button" aria-describedby="button-search">
	  					<button id="button-search" class="btn btn-outline-secondary" type="button">검색</button>
					</div>
        		</div>
        	</div>
	        <div class="row">
		        <div id="result-area" class="col-md-12">
		        	<div class="row">
		        		<div class="col-md-12">
		        			<div class="card flex-row">
				        		<img class="card-img-left border book-thumbnail" th:src="@{/images/uploads/1.jpg}">
				        		<div class="card-body align-middle">
							    	<h4 class="card-title book-title">뿌리가 튼튼한 사람이 되고싶어</h4>
							    	<div class="card-text">
							    		<p class="mb-0">
									    	<span class="text-wrap border-end item-border-right">
												저자:신미경
											</span>
											<span class="text-wrap border-end item-border-right">
												출판사: 새움출판사
											</span>
											<span class="text-wrap">
												발행연도: 2018
											</span>							    		
							    		</p>
							    		<p class="mb-0">
							    			<span class="text-wrap border-end item-border-right">
												도서위치: C
											</span>
											<span class="text-wrap">
												청구기호: 818-ㅅ-832ㅃ
											</span>
							    		</p>
							    	</div>
						    	</div>
		        			</div>
		        		</div>
		        	</div>
		        </div>	        
	        </div>
        </div>
        
    </main>

</html>