<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layouts/main}">
     
    <head>
		<link th:href="@{/css/pages/user/main.css}" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script th:src="@{/js/pages/user/main.js}"></script>
    </head>

    <main layout:fragment="content">
        <div class="container">
        	<div class="row">
        		<div id="search-area" class="col-md-12">
	        		<div class="input-group">
						<select id="select-search-condition" class="form-select">
							<option selected>전체</option>
							<option value="1">저자</option>
							<option value="2">도서명</option>
							<option value="3">분류</option>
						</select>
						<input id="input-search-keyword" type="text" class="form-control" aria-label="Text input with dropdown button" aria-describedby="button-search">
	  					<button id="button-search" class="btn btn-outline-secondary" type="button">검색</button>
					</div>
        		</div>
        	</div>
        	<h5 id="page-count" class="mb-0 mt-3"></h5>
	        <div class="row">
		        <div id="result-area" class="col-md-12"></div>	        
	        </div>
        </div>
        
    </main>

</html>