<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layouts/main}">
      
	<head>
		<meta charset="UTF-8">
		<title>도서 대출 내역</title>
	</head>

	<body>
		<div layout:fragment="content">
			<input type="hidden" id="username" th:value="${username}">
			<div class="container">
				<div class="row mb-5">
					<div class="col-md-12">
						<h2 class="mt-5">도서 대출 내역</h2>
			    		<table class="table mt-3">
			    			<thead>
			    				<tr>
			    					<th>도서명</th>
			    					<th>대출일시</th>
			    					<th>반납기한</th>
			    					<th>반납일자</th>
			    					<th>상태</th>
			    				</tr>
			    			</thead>
			    			<tbody id="tbody-user-rental" class="table-group-divider"></tbody>
			    		</table>
					</div>
				</div>
			</div>
			<script th:src="@{/js/pages/user/mypage.js}"></script>
		</div>
	</body>
</html>