@charset "UTF-8";
#layout-header {
    height: 360px;
    background-image: url(/images/books.jpg);
    background-repeat: repeat;
}
#layout-content {
    margin-top: 10px;
    width: 1024px;
    margin: 10px auto 0px auto;
}