<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script th:src="@{/js/pages/admin/book-write.js}"></script>
	</head>

	<body>
		<h2>도서 등록</h2>
		<dl>
			<dt>도서명</dt>
			<dd><input type="text" id="bookName" name="bookName" /></dd>
			<dt>저자</dt>
			<dd><input type="text" id="author" name="author" /></dd>
			<dt>출판사</dt>
			<dd><input type="text" id="publisher" name="publisher" /></dd>
			<dt>출판일</dt>
			<dd><input type="text" id="publicationDate" name="publicationDate" /></dd>
			<dt>도서 위치</dt>
			<dd>
				<select id="locationId" name="locationId">
					<option>도서 위치</option>
				</select>
			</dd>
			<dt>도서 상세위치</dt>
			<dd><input type="text" id="locationMemo" name="locationMemo" /></dd>
			<dt>도서 분류</dt>
			<dd>
				<select id="categoryId" name="categoryId"></select>
			</dd>
			<dt>노출여부</dt>
			<dd>
				<label for="openY">Y</label>
				<input type="radio" id="openY" name="openChk" value="1" checked="checked" />
				<label for="openN">N</label>
				<input type="radio" id="openN" name="openChk" value="0" />
			</dd>
			<dt>도서 이미지</dt>
			<dd>
				<input type="file" id="img" name="img" />
			</dd>
			<dt>도서 내용</dt>
			<dd>
				<textarea id="bookDetail" name="bookDetail"></textarea>
			</dd>
		</dl>
		<div class="btn-area">
			<button type="button" id="btn-register">등록</button>
			<button type="button" onclick="locationhref='../'">목록</button>
		</div>
	</body>
</html>