<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/default}">
     
	<head>
		<link th:href="@{/css/pages/admin/book-list.css}" rel="stylesheet">
	</head>
	
	<main layout:fragment="content">
	    <div class="container">
			<div id="search-area" class="col-md-12" style="margin-top: 10px; margin-bottom: 10px;" >
        		<div class="input-group">
					<select id="select-search-condition" class="form-select">
						<option selected>전체</option>
						<option value="book_name">도서명</option>
						<option value="author">저자</option>
					</select>
					<input id="input-search-keyword" type="text" class="form-control" aria-label="Text input with dropdown button" aria-describedby="button-search">
  					<button id="button-search" class="btn btn-outline-secondary" type="button">검색</button>
				</div>
	    	</div>
	    	<div align = "right">
				<button class = "book-add" type="button" onclick="location.href='/admin/book/write' ">도서등록</button>
			</div>
	    	

	    	<h5 id="page-count" class="mb-0 mt-3"></h5>
	    	<div class="row">
				<div class="col-md-12">
					<table class="table">
					  <thead>
					    <tr>
					      <th scope="col">번호</th>
					      <th scope="col">도서명</th>
					      <th scope="col">저자</th>
					      <th scope="col">출판사</th>
					      <th scope="col">출판일</th>
					      <!--<th scope="col">상세정보</th>-->
					    </tr>
					  </thead>
					  <tbody id = "target">
							  
					  </tbody>					  
					</table>
				</div>
			</div>
	
	        <div class="row">
	        	<div id="pagination" class="col-md-12"></div>
	        </div>
	    </div>
	    <script th:src="@{/js/pages/admin/book-list.js}"></script>
	</main>

</html>