@charset "UTF-8";
#input-search-keyword {
    flex: 10 0 auto;
}
#result-area {
	margin-top: 15px;
}
.book-row {
	margin-top:5px;
	margin-bottom:5px;
}
.book-thumbnail {
	width: 150px;
	height:200px;
}
.book-title {
	margin-top:45px;	
}
.item-border-right {
	padding-right:6px;
	margin-right:6px;	
}